// app global css in SCSS form

.my-btn .q-btn__content.justify-start {
  justify-content: space-between;
}

.b-2px {
  border: 2px solid white;
}
.bt-2px {
  border-top: 2px solid $grey-5;
}

.text-title {
  font-size: 16px;
  font-weight: 600;
}

.checkbox-fix {
  margin-left: -8px;
}

.q-field--dense.q-field--float .q-field__label {
  transform: translateY(-101%);
  background: white;
  z-index: 999;
  padding: 0 3px;
  margin-left: -2px;
  font-weight: 500;
  text-transform: lowercase;
}

.q-field--labeled.q-field--dense .q-field__native,
.q-field--labeled.q-field--dense .q-field__prefix,
.q-field--labeled.q-field--dense .q-field__suffix {
  padding-top: 9px;
  padding-bottom: 7px;
}

.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
  font-weight: 500;
}

.q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container {
  padding-top: 0px;
}

.q-expansion-item__container >.q-item {
  padding: 0 4px;
  margin-bottom: 2px;
}

.only-image > .q-checkbox__inner {
  width: 0.7em;
  min-width: 0.7em;
  height: 0.7em;
}

.line.row, .line.col {
  height: 40px;
}

.q-field--outlined .q-field__control::before {
  border: 2px solid rgba(0, 0, 0, 0.24);
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}

.q-checkbox__label {
  font-weight: 500;
}

// .q-field--float .q-field__label {
//   transform: translateY(-35%) scale(0.85);
// }
//
// .q-field__native,
// .q-field__prefix,
// .q-field__suffix,
// .q-field__input {
//   font-weight: 500;
// }
//
// .q-field--labeled .q-field__native,
// .q-field--labeled .q-field__prefix,
// .q-field--labeled .q-field__suffix {
//   line-height: 24px;
//   padding-top: 28px;
//   padding-bottom: 4px;
// }
//
// .q-select__dropdown-icon {
//   margin-top: 22px;
//   cursor: pointer;
//   transition: transform 0.28s;
// }
