// Quasar SCSS (& Sass) Variables

$primary: #0e4277;
$secondary: #028FF5;
$accent: #26a69a;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$body-font-size: 14px !default;
$input-font-size: 16px !default;
$generic-border-radius: 8px !default;
$menu-max-width: 85vw !default;
