// Quasar SCSS (& Sass) Variables

$primary: rgba(14, 66, 119, 1);
$secondary: #028ff5;
$accent: #0e77ff;
//
$dark: rgba(0, 0, 0, 1);

$positive: #00e251;
$negative: #ff131c;
$info: #0e77ff;
$warning: #ff9d00;

$field-height: 40px !default;

$body-font-size: 16px !default;
$body-line-height: 1.5 !default;
$tooltip-fontsize: 14px !default;

$input-font-size: $body-font-size !default;
$input-text-color: rgba(0, 0, 0, 1.00) !default;
$input-label-color: rgba(97, 97, 97, 1.00) !default;

$button-font-size: $body-font-size !default;
$button-padding: 4px 16px !default;

$generic-border-radius: 6px !default;
$button-border-radius: $generic-border-radius !default;
$menu-max-width: 85vw !default;

$toolbar-height: 60px !default;
$toolbar-title-font-size: 20px !default;
$toolbar-title-font-weight: 600 !default;
