// Quasar SCSS (& Sass) Variables

$primary: rgba(14, 66, 119, 1);
// $secondary: #028ff5;
// $accent: #26a69a;
//
$dark: rgba(0, 0, 53, 1);

$positive: #21ba45;
$negative: #c10015;
$info: #028ff5;
$warning: #f2c037;

$field-height: 40px !default;

$body-font-size: 15px !default;
$body-line-height: 1.5 !default;
$tooltip-fontsize: 14px !default;

$input-font-size: $body-font-size !default;
$input-text-color: $dark !default;
$input-label-color: $primary !default;

$button-font-size: $body-font-size !default;
$button-padding: 4px 16px !default;

$generic-border-radius: 6px !default;
$button-border-radius: $generic-border-radius !default;
$menu-max-width: 85vw !default;

$toolbar-height: 60px !default;
$toolbar-title-font-size: 20px !default;
$toolbar-title-font-weight: 600 !default;
